#index {
  .blink {
    animation: blink-animation 1.5s steps(5, start) infinite;
    -webkit-animation: blink-animation 1.5s steps(5, start) infinite;
  }

  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

  #levels {
    list-style: none;

    li {
      padding-left: 0;
      &:hover {
        &:before {
          background-image: url('../images/pointer.png');
          background-size: 30px 30px;
          content: '';
          display: inline-block;
          height: 30px;
          margin-left: -2%;
          position: absolute;
          width: 30px;
        }
      }
    }
    a {
      text-decoration: none;
      color: lightgrey;
      &:hover {
        color: white;
      }
    }
  }
}
