@import '_variables';

body {
    background-color: #1F1F1F;
    color: white;

    .blink {
        animation: blink-animation 1.5s steps(5, start) infinite;
        -webkit-animation: blink-animation 1.5s steps(5, start) infinite;
    }

    @keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }

    @-webkit-keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }

    .pointer {
        display: none;
    }

    .levelsLi:hover~.pointer {
        display: inline;
        position: absolute;
        margin-top: 15px;
        left: -20px;
    }

    #levels {
        list-style: none;

        li {
            padding-left: 0;
        }
    }
}